@import '../../../styles/colors';

#root {
  .partners-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $Black;
    min-height: 100vh;
    gap: 96px;

    .main-container {
      display: flex;
      gap: 48px;
      flex-wrap: wrap;
    }
  }
}
