@import '../../../styles/mixin';

#root {
  .main-root {
    position: relative;
    height: 200vh;
    width: 100vw;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .main-fixed-container {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .pointer {
      z-index: 9999;
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: $white;
      mix-blend-mode: difference;
      pointer-events: none;
    }

    .background {
      position: absolute;
      left: 0;
      top: 0;
      .bg-video {
        position: absolute;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
      }

      .layer-black {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: $black;
        opacity: 0.5;
      }

      .layer-blue {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-image: radial-gradient(
          circle at 50% 50%,
          rgba(0, 23, 49, 0),
          rgba(0, 26, 56, 0.51) 87%
        );
      }
    }

    .main-container {
      position: absolute;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $white;
      will-change: transform, opacity;
      transition: all 300ms ease-in;

      h1,
      span {
        white-space: pre-wrap;
        text-align: center;
      }

      .title {
        @include eng-h1;
        color: white;
      }

      .description {
        @include kor-h3;
        color: $gray2;
        margin-top: 25px;
      }

      .inquiry {
        margin-top: 48px;
      }
    }

    .scroll-container {
      position: absolute;
      bottom: 62px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      transition: all 300ms ease-in-out;

      // &.hidden {
      //   opacity: 0;
      //   transform: translate(0, -70%);
      // }

      .label {
        @include eng-h3;
        color: $white;
      }

      .scroll-anim {
        width: 24px;
        height: 32px;
        border: 1px solid $white;
        border-radius: 12px;
        padding: 5px 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .ball {
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: $white;
          animation: ball-animation ease-out 0.7s infinite alternate;
        }
      }
    }
  }
}

@keyframes ball-animation {
  100% {
    transform: translateY(15px);
  }
}
