@import '../../../styles/colors';
@import '../../../styles/fonts';

#root {
  .main-root {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .main-container {
      position: relative;
      width: 1400px;

      .slogan-container {
        display: flex;
        height: 684px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $white;

        h1,
        span {
          white-space: pre-wrap;
          z-index: 1;
        }

        h1 {
          font-size: 80px;
          line-height: 100px;
          font-weight: 700;
          text-align: center;
        }

        span {
          font-size: 24px;
          line-height: 36px;
          margin-top: 24px;
          font-weight: 200;
        }
      }
    }

    .bg-video {
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
    }
  }
}
