@import '../../../styles/colors';

#root {
  .bf-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 96px;
    background-color: $black;
    padding: 400px 0;

    .title {
      font-size: 48px;
      color: $white;
      line-height: 86px;
      font-weight: 700;
    }

    .main-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 475px;
        border-radius: 20px;
        padding: 73px 44px 47px;

        &:hover {
          background-color: $gray200;
        }

        img {
          width: 152px;
          height: 152px;
        }

        .title {
          font-size: 26px;
          margin: 50px 0 20px;
        }

        .subtitle {
          font-size: 18px;
          color: $gray100;
          line-height: 26px;
          text-align: center;
          word-break: keep-all;
        }
      }
    }
  }
}
