@import '../../../styles/colors';
#root {
  .cinput-root {
    width: 690px;
    height: 56px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .label {
      width: 84px;
      height: 21px;
      font-size: 16px;
      margin-right: 16px;
    }
    .box {
      width: 588px;
      display: flex;
      height: 62px;
      align-items: center;
      border: 1px solid $gray3;
      padding: 0 20px;
      gap: 20px;
      font-size: 18px;
      line-height: 28px;

      &:focus-within .span {
        color: black;
      }

      .span {
        color: black;
      }

      .input {
        color: $gray5;
        background-color: transparent;
        flex: 1;
        font-size: 15px;
        line-height: 28px;
      }

      &.textarea {
        height: 112px;
        align-items: flex-start;
        padding: 20px;

        .input {
          height: 100%;
          resize: none;
          border: 0;
        }
      }

      .button {
        width: 80px;
        height: 32px;
        font-size: 15px;
        background-color: red;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  @media (max-width: 1400px) {
    .cinput-root {
      .box {
        width: 512px;
      }
    }
  }
}
