// primary
$primary-blue: #5c55fa;
$primary-purple: #a502fb;

// gray sacle
$white: #ffffff;
$gray1: #f9fafb;
$gray2: #eff0f2;
$gray3: #d6d6d6;
$gray4: #999999;
$gray5: #767676;
$black: #111111;

// system
$error: #dc0000;
$success: #46b712;
