// PC

$font-size-title-pc: 80px;
$font-size-subtitle-pc: 48px;
$font-size-body1-pc: 26px;
$font-size-body2-pc: 24px;
$font-size-body3-pc: 18px;
$font-size-footer-pc: 14px;

$line-height-title-pc: 100px;
$line-height-subtitle-pc: 64px;
$line-height-body1-pc: 38px;
$line-height-body2-pc: 36px;
$line-height-body3-pc: 26px;
$line-height-footer-pc: 20px;
