@import './mixin';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', 'SpoqaHansSansNeo', serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

button {
  font-family: 'SpoqaHansSansNeo';
  color: $white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: $black;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline: none;
  border: 0;
}

span {
  cursor: default;
}

body {
  background-color: $black;
}

#root {
  max-width: 100vw;

  .homepage-root {
    width: 100%;
    min-height: 100vh;

    .main-container {
      // max-width: 1200px;
    }
  }

  .btn-solid-round {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 18px 30px;
    border-radius: 28px;
    color: white;
  }

  .btn-outline-round {
    background-color: transparent;
    border: 1px solid $white;
    padding: 18px 30px;
    border-radius: 28px;
  }

  .btn-solid {
    background-color: $gray5;
    padding: 18px 22px;
  }

  .btn-solid-linear {
    background-image: linear-gradient(to right, #3e5cd1, $primary-purple);
    padding: 18px 0;
  }
}
