@import '../../../styles/mixin';

.footer-root {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: $black;
  font-size: 15px;
  padding: 106px 40px;

  @include mobile {
    padding: 106px 16px;
  }

  .footer-main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .location {
    button {
      margin-right: 10px;
      margin-bottom: 24px;
      text-decoration: underline;
    }
    span {
      color: $white;
      margin-right: 10px;
    }
    p {
      color: $white;
      line-height: 1.8;
      button {
        text-decoration: underline;
        margin-left: 10px;
      }
    }
  }
  .logo {
    width: 106px;
    height: 27px;
    margin-top: 56px;
  }
}
