@import '../../../styles/colors';

#root {
  .history-root {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: center / cover no-repeat
      url('/public/assets/images/img-history.jpg');

    .layer {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: #000;
      opacity: 0.5;
    }

    .main-container {
      position: absolute;
      top: 70px;
      width: 100%;
      height: calc(100% - 70px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 130px;
      z-index: 10;

      .content {
        display: flex;

        .pagination-container {
          display: flex;
          align-items: center;
          gap: 36px;
          height: fit-content;

          .button-container {
            display: flex;
            gap: 8px;
            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }

      .list-container {
        min-height: 480px;
        padding-left: 45px;
        margin-left: 126px;
        border-left: 1px solid $white;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .month-list {
          display: flex;
          gap: 24px;

          .list-item {
            display: flex;
            flex-direction: column;
            gap: 12px;
            .history {
            }
          }
        }
      }
    }
  }
}
